{
  "extends": ["react-app", "prettier"],
  "plugins": ["simple-import-sort", "import", "prettier"],
  "rules": {
    "simple-import-sort/sort": "error",
    "sort-imports": "off",
    "import/order": "off",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error"
  },
  "overrides": [
    {
      "files": "server/**/*.js",
      "env": {
        "node": true
      },
      "rules": {
        "simple-import-sort/sort": "off",
        "import/order": [
          "error",
          {
            "newlines-between": "always"
          }
        ]
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
