{
  "extends": ["react-app", "prettier"],
  "plugins": ["simple-import-sort", "prettier"],
  "rules": {
    "simple-import-sort/sort": [
      "error",
      {
        "groups": [
          // Side effect imports
          ["^\\u0000"],
          // React
          ["^react$"],
          // Other packages
          ["^@?\\w"],
          // Parent imports. Put `..` last.
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
          // Other relative imports. Put same-folder imports and `.` last.
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
          // Styles
          ["^.+\\.s?css$"]
        ]
      }
    ],
    "sort-imports": "off",
    "import/order": "off",
    "import/no-unresolved": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
